<div class="container">
    <header id="header">
        <h1>KNYGYNAS</h1>
              
            <div class="topnav">
                <div class="search-container">
                    <form class="search-form-container" action="/action_page.php">
                    <input  class="input-search" type="text" placeholder="Ieškoti pagal pavadinimą, autorių.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>

            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Prisijungti 
            </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Prisijungti</a></li>
                    <li><a class="dropdown-item" href="#">Sukurti paskyrą</a></li>
                </ul>
            </div>

            <div class="shopping-cart">
                <img src="https://img.icons8.com/material-outlined/50/000000/buy.png"/>
        
    </header>
</div>