.header-container {
  display: flex;
  height: 130px;
  background-color: var(--color-medium-green);
  padding: 40px 12% 0 12%;
  border-bottom: var(--color-dark-green) solid 5px;
  /* padding: 0; */
 
}
/* .container h1 {
  margin-left: 12%;
} */
.topnav {
  overflow: hidden;
  width: 100%;
  display: flex;
  /* gap: 2%; */
  max-width: 1320px; 
}
.dropdown {
  margin-top: 0.8%;
}
.dropdown-menu.show li {
  overflow: visible;
}
.search-container {
    width: 90%;
    margin-left: 4%;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 80%;
}
.form {
  display: flex;
}

.topnav .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: var(--color-dark-green);
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
.btn-secondary {
    background-color: var(--color-dark-green);
    /* margin-right: 100px; */
    /* margin-left: 0; */
    margin-top: 5%;
}
.log-out {
  background-color: var(--color-medium-green);
  border: var(--color-dark-green) solid 2px;
}
.btn-secondary:hover, .btn-secondary:active {
    background-color: transparent;
    border: var(--border2);
}

/* .line {
    border: var(--color-dark-green) solid 3px;
} */

.signUp-container {
  padding: 16px;
  display: block;
  width: 200px;
}

.modal {
  display: none; /* Hidden by default */
  /* position: fixed;  */
  z-index: 1; /* Sit on top */
  /* left: 0; */
  /* top: 0; */
  width: 30%; /* Full width */
  height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.login {
  /* display: none; */
  cursor: pointer;
   /* display: flex; */
}

@media screen and (max-width: 600px) {

  .header-container {
    background-color: var(--color-medium-green);
    height: 185px;
    padding-top: 4%;
    border-bottom: var(--color-dark-green) solid 3px;
  }
  .modal {
    display: none; /* Hidden by default */
    /* position: fixed;  */
    z-index: 1; 
    /* left: 0; */
    /* top: 0; */
    width: 100%;
    height: 80%; 
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 50px;
  }
  .topnav .search-container {
    float: none;
  }
  .topnav  {
    float: none;
    display: block;
    overflow: auto;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    display: block;
    text-align: left;
    margin: 0;
    overflow: visible;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  .dropdown-item {
    overflow: auto;
  }
  .search-container {
    width: 100%;
    margin-left: 0;
}
}



/* Change styles for cancel button and signup button on extra small screens */
/* @media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
} */


