.ShopCart-container {
    display: flex;
    height: 130px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
}
.ShopCart-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    color: var(--color-dark-green);
}
#shop-cart-img {
    height: 80px;
}
@media screen and (max-width: 600px) {
    .ShopCart-container {
        margin-top: 90%;
    }
}
